body
	{
		background-color: #b3ffb3;
	}
.main
	{
		background-color:#00cccc;
        margin:2%;
        display:flex;
        justify-content: space-around;
        border-style: solid;
	}
.left
	{
		background-color:#ff9999;
		margin:10%;
		text-align: center;
		border-radius: 5%;
		box-shadow: 2px 2px 2px 2px ;
		width:30%;
        height:50%;
	}
img
	{
		height: 50%;
		width: 30%;
		margin-top: 5%;
		border-radius: 50%;
	}
 .right
	{
		background-color: #ffff99;
		margin:5%;
		border-radius: 5%;
		box-shadow: 2px 2px 2px 2px ;
		width:75%;
		height: 500px;
		padding: 5%;
	}
table
	{
		align:"center";
	}
@media screen and (min-width: 320px) and (max-width: 480px) {
		body
	{
		background-color: #b3ffb3;
	}
	.main
	{
		background-color:#00cccc;
        margin:2%;
        display:inline-block;
        justify-content: space-around;
        border-style: solid;
        width:95%;

	}
	.left
	{
		background-color:#ff9999;
		margin:2%;
		text-align: center;
		border-radius: 5%;
		box-shadow: 2px 2px 2px 2px ;
		width:90%;
        height:50%;
        padding:2%;
	}
	.subdiv11
	{
		margin: 4%;
		border-radius: 5%;		
}
	.right
	{
		background-color: #ffff99;
	    padding:2%;
		text-align: center;
		border-radius: 5%;
		box-shadow: 2px 2px 2px 2px ;
		width:90%;
		height:550px;
	}
		img
	{
		height: 50%;
		width: 30%;
		margin-top: 5%;
		border-radius: 50%;
	}
}
@media screen and (min-width: 481px) and (max-width: 720px) {
		body
	{
		background-color: #b3ffb3;
	}
	.main
	{
		background-color:#00cccc;
        margin:2%;
        display:inline-block;
        justify-content: space-around;
        border-style: solid;
        width: 96%;

	}
	.left
	{
		display: flex;
		flex-wrap:wrap;
		background-color:#ff9999;
		margin:2%;
		text-align: center;
		border-radius: 5%;
		box-shadow: 2px 2px 2px 2px ;
		width:80%;
        height:50%;
        padding: 5%;
	}
	.left2
	{
		margin: 4%;
		border-radius: 5%;		
    }
	.right
	{
		background-color: #ffff99;
		margin:2%;
		border-radius: 5%;
		box-shadow: 2px 2px 2px 2px ;
		width:80%;
		height:500px;
		padding: 5%;
	}
		img
	{
		height: 50%;
		width: 30%;
		margin-top: 5%;
		border-radius: 50%;
	}
}
}

